{
  "extends": ["airbnb", "prettier", "prettier/react", "prettier/standard", "plugin:jsx-a11y/recommended"],
  "parser": "babel-eslint",
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "ecmaVersion": 6,
      "impliedStrict": true
    }
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [ "Link" ],
        "specialLink": [ "hrefLeft", "hrefRight" ],
        "aspects": [ "invalidHref", "preferButton" ]
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "specialLink": ["htmlFor"],
        "required": {
          "every": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-expressions": "off",
    "class-methods-use-this": "off"
  },
  "env": {
    "browser": true,
    "mocha": true,
    "jest": true
  },
  "globals": {
    "Cypress": true,
    "cy": true
  }
}
