dist
node_modules
.cache
*.log
.DS_Store
tests/e2e/screenshots
tests/e2e/videos

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json