/*
  If you prefer your CSS Sassy. Run npm install -s node-sass and change the extension and import of this file.
  Or use Less or whatever form of styling brings you the most Joy. Bonus points for following a CSS methodology. (BEM, OOCSS, ETC)
*/

@charset "utf-8";

// Set custom colors
$purple: #8A4D76;

// Update Bulma's global variables
$primary: $purple;

@import 'node_modules/bulma/bulma.sass';

.container {
  padding: 25px;
}

.is-primary {
  color: $purple;
}
